<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="4dbffcf3-8ff3-459b-95e8-64691ffade0a" Publisher="CN=imbushuo" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4dbffcf3-8ff3-459b-95e8-64691ffade0a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>AmtPtpDevice.Settings</DisplayName>
    <PublisherDisplayName>imbushuo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AmtPtpDevice.Settings.App">
      <uap:VisualElements DisplayName="Magic Trackpad Settings" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Apple Magic Trackpad 2 Settings App" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Magic Trackpad Settings">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="humaninterfacedevice">
      <Device Id="vidpid:05ac 0265">
        <!-- Input experience settings -->
        <Function Type="usage:FF00 0001" />
        <!-- Battery information -->
        <Function Type="usage:FF00 0014" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>