# Synchronizes Github issue to Azure DevOps Board

name: EngSys-ProjectManagement-GithubIssueOnewaySync

on:
  issues:
    types:
      [opened, edited, deleted, closed, reopened, labeled, unlabeled, assigned]

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - uses: danhellem/github-actions-issue-to-work-item@master
        env:
          ado_token: "${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}"
          github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          ado_organization: "ligstd"
          ado_project: "Apple PTP Trackpad"
          ado_area_path: "Apple PTP Trackpad"
          ado_iteration_path: "Apple PTP Trackpad\\Github Triage"
          ado_wit: "User Story"
          ado_new_state: "New"
          ado_active_state: "Active"
          ado_close_state: "Closed"
          ado_bypassrules: true
          log_level: 100
